
.slice-view-horizontal {
    .spacer {
        width: 8px;
        background-color: darkgrey;
    }
}

.slice-view-vertical {
    .spacer {
        height: 8px;
        width: 100%;
        background-color: darkgrey;

    }
}